<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><i class="fa fa-spinner"></i> <span>BCB Forecast</span></a>
  </div>

  <div class="clearfix"></div>

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>General</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/home/index">Dashboard</a></li>
            <li><a href="/home/index2">Dashboard2</a></li>
            <li><a href="/home/index3">Dashboard3</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Live On</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/additional/ecommerce">E-commerce</a></li>
            <li><a href="/additional/projects">Projects</a></li>
            <li><a href="/additional/project_detail">Project Detail</a></li>
            <li><a href="/additional/contacts">Contacts</a></li>
            <li><a href="/additional/profile">Profile</a></li>
            <li><a href="/additional/pricing">Pricing Tables</a></li>
          </ul>
        </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
