<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a href="" class="site_title"><span>BCB Forecast</span></a>
  </div>

  <div class="clearfix"></div>

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <h3>Paineis</h3>
      <ul class="nav side-menu">
        <li><a><i class="fa fa-bar-chart"></i> Indices <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="/home/index">Inflação</a></li>
            <li><a href="/home/index2">PIB</a></li>
            <li><a href="/home/index3">Macro</a></li>
            <li><a href="/home/index3">Transacionais</a></li>
            <li><a href="/home/index3">Fiscais</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="menu_section">
      <h3>Projeto</h3>
      <ul class="nav side-menu">
          <li><a><i class="fa fa-home"></i> BCB Forecast <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="http://www.lamfo.unb.br/index.php?option=com_content&view=article&id=494&Itemid=344&lang=pt-br">Intitucional</a></li>
            </ul>
          </li>
        <li><a><i class="fa fa-thumb-tack"></i> LAMFO <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="http://www.lamfo.unb.br/index.php?option=com_content&view=article&id=494&Itemid=344&lang=pt-br">Intitucional</a></li>
            <li><a href="https://lamfo-unb.github.io/">Blog</a></li>
            <li><a href="http://www.lamfo.unb.br/index.php?option=com_content&view=article&id=488&Itemid=386&lang=pt-br">Pesquisadores</a></li>
            <li><a href="http://www.lamfo.unb.br/index.php?option=com_content&view=article&id=495&Itemid=407&lang=pt-br">Outros projetos</a></li>
            <li><a href="http://www.lamfo.unb.br/index.php?option=com_content&view=article&id=496&Itemid=415&lang=pt-br">Apresentações</a></li>
            <li><a href="http://www.lamfo.unb.br/index.php?option=com_content&view=article&id=489&Itemid=408&lang=pt-br">Publicações</a></li>
            <li><a href="http://www.lamfo.unb.br/index.php?option=com_contact&view=contact&id=21&Itemid=105&lang=pt-br">Fale contato</a></li>
          </ul>
        </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /sidebar menu -->
</div>
