{% extends "base_site.html" %}

{% block title %} Plain Page {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<head>
  <meta charset="utf-8" />
  <!-- import plugin script -->
  <!-- <script src='static/Chart.min.js'></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>


<div class="right_col" role="main">
  
  <div class="page-title">
    <div class="title-left"><h3>INFLAÇÃO</h3></div>
  </div>
    <br />

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph x_panel">
          <div class="row x_title">
            <div class="col-md-6">
              <h3>EXPECTATIVA DE MERCADO</h3><h5>Referente a {{ expec_data }}</h5>
            </div>
          </div>
          <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false">Data da previsão
                  <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu">
                  {% for x in expec_data_values %}
                  <li><a href="http://127.0.0.1:5000/?expec_data={{ x }}">{{ x }}</a></li>
                  {% endfor %}
                </ul>
                </div>
                <canvas id="myChart" width="800" height="400"></canvas>
              </div>
            </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="dashboard_graph x_panel">
            <div class="row x_title">
              <div class="col-md-6">
                <h3>TOP 5</h3><h5>Referente a {{ expec_data }}</h5>
              </div>
            </div>
            <div class="x_content">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false">Data da
                    previsão
                    <span class="caret"></span>
                  </button>
                  <ul role="menu" class="dropdown-menu">
                    {% for x in top_5_data_values %}
                    <li><a href="http://127.0.0.1:5000/?top_5_data={{ x }}">{{ x }}</a></li>
                    {% endfor %}
                  </ul>
                </div> -->
                <canvas id="myChart2" width="800" height="400"></canvas>
              </div>
            </div>
          </div>
        </div>  
      </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph x_panel">
                  <div class="row x_title">
                    <div class="col-md-6">
                      <h3>12 MESES</h3><h5>Referente a {{ expec_data }}</h5>
                    </div>
                  </div>
                  <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <!-- <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false">Data da
                  previsão
                  <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu">
                  {% for x in twelve_months_data_values %}
                  <li><a href="http://127.0.0.1:5000/?twelve_months_data={{ x }}">{{ x }}</a></li>
                  {% endfor %}
                </ul>
              </div> -->
              <canvas id="myChart3" width="800" height="400"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

<script>
  // Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = true;
console.log('{{top5_dados_t[0]["data"]}}');
console.log('{{top5_dados_t[1]["data"]}}');
 // define the chart data
 var chartData = {
    datasets : [
	{% for i in indicadores_list %}
		{% if i != 0 %}
			,
		{% endif %}
		{
		fill: false,
		label: '{{ expec_dados_t[i]["label"] }}',
		lineTension: 0.1,
		backgroundColor: '{{ color[i] }}',
		borderColor: '{{ color[i] }}',
		borderCapStyle: 'butt',
		borderDash: [],
		borderDashOffset: 0.0,
		borderJoinStyle: 'miter',
		pointBorderColor: '{{ color[i] }}',
		pointBackgroundColor: "#fff",
		pointBorderWidth: 1,
		pointHoverRadius: 5,
		pointHoverBackgroundColor: '{{ color[i] }}',
		pointHoverBorderColor: '{{ color[i] }}',
		pointHoverBorderWidth: 2,
		pointRadius: 5,
		pointHoverBackgroundColor: '{{ color[i] }}',
		pointHoverBorderColor: '{{ color[i] }}',
		pointHoverBorderWidth: 2,
		pointRadius: 5,
		pointHitRadius: 10,
		data : [{% for date, value in expec_dados_t[i]["data"] %}
				{x:"{{ date }}",
				y: {{value}}},
			{% endfor %}]
		}
	{% endfor %}
    ]
 }

 
 var chart2Data = {
	datasets : [
	{% set virgula = [] %}
	{% for i in indicadores_list %}
		{% if top5_dados_t[i]["data"] %}		
			{% if virgula != [] %}
				,
			{% endif %}
			{
			fill: false,
			label: '{{ top5_dados_t[i]["label"] }}',
			lineTension: 0.1,
			backgroundColor: '{{ color[i] }}',
			borderColor: '{{ color[i] }}',
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'miter',
			pointBorderColor: '{{ color[i] }}',
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: '{{ color[i] }}',
			pointHoverBorderColor: '{{ color[i] }}',
			pointHoverBorderWidth: 2,
			pointRadius: 5,
			pointHoverBackgroundColor: '{{ color[i] }}',
			pointHoverBorderColor: '{{ color[i] }}',
			pointHoverBorderWidth: 2,
			pointRadius: 5,
			pointHitRadius: 10,
			data : [{% for date, value in top5_dados_t[i]["data"] %}
					{x:"{{ date }}",
					y: {{value}}},
				{% endfor %}]
			}
			{% if virgula.append('1') %}{% endif %}
		{% endif %}
	{% endfor %}
    ]
 }

 var chart3Data = {
    datasets : [
	{% set virgula = [] %}
	{% for i in indicadores_list %}
		{% if E12_dados_t[i]["data"] %}	
			{% if virgula != [] %}
				,
			{% endif %}
			{
			fill: false,
			label: '{{ E12_dados_t[i]["label"] }}',
			lineTension: 0.1,
			backgroundColor: '{{ color[i] }}',
			borderColor: '{{ color[i] }}',
			borderCapStyle: 'butt',
			borderDash: [],
			borderDashOffset: 0.0,
			borderJoinStyle: 'miter',
			pointBorderColor: '{{ color[i] }}',
			pointBackgroundColor: "#fff",
			pointBorderWidth: 1,
			pointHoverRadius: 5,
			pointHoverBackgroundColor: '{{ color[i] }}',
			pointHoverBorderColor: '{{ color[i] }}',
			pointHoverBorderWidth: 2,
			pointRadius: 5,
			pointHoverBackgroundColor: '{{ color[i] }}',
			pointHoverBorderColor: '{{ color[i] }}',
			pointHoverBorderWidth: 2,
			pointRadius: 1,
			pointHitRadius: 10,
			data : [{% for date, value in E12_dados_t[i]["data"] %}
					{x:"{{ date }}",
					y: {{value}}},
				{% endfor %}]
			}
			{% if virgula.append('1') %}{% endif %}
		{% endif %}
	{% endfor %}
    ]
 }
 
 // get chart canvas
 var ctx = document.getElementById("myChart").getContext("2d");
 var ctx2 = document.getElementById("myChart2").getContext("2d");
 var ctx3 = document.getElementById("myChart3").getContext("2d");
  
 // create the chart using the chart canvas
 var myChart = new Chart(ctx, {
  type: 'line',
  data: chartData,
  options: {
    scales: {
      xAxes: [{
        type: "time",
        time: {
          format: 'DD/MM/YYYY',
          tooltipFormat: 'll'
        },
        scaleLabel: {
          display: true,
          labelString: 'Date'
        }
      }],
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'value'
        }
      }]
    }
  }
 });
 var myChart2 = new Chart(ctx2, {
    type: 'line',
    data: chart2Data,
 });
 var myChart3 = new Chart(ctx3, {
    type: 'line',
    data: chart3Data,
 });
</script>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}

